<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(rel="stylesheet", href="/styles/custom.css")
        title AnimeXYZ - Anime VietSub Online 
    body
        .mb-5.pb-5
            nav.navbar.navbar-expand-lg.navbar-light.fixed-top.border-bottom.shadow-sm(style='background-color: #ffffff; font-family: montserrat-alternates, sans-serif; \font-weight: 400; \font-style: normal;')
                .container
                    a.display-4.navbar-brand(href='/') AnimeXYZ
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href='/')
                                    | Trang Chủ
                                    span.sr-only (current)
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Thể Loại
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Mùa Anime
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item
                                a.nav-link(href='#') BXH
                            li.nav-item
                                a.nav-link(href='#') Lịch Chiếu
                            if(countViewItem)
                                li.nav-item
                                    span= countViewItem
                            if(countKeyItem)
                                li.nav-item
                                    span= countKeyItem
                    form(action="/search/", method="GET").form-inline.my-2.my-lg-0
                        input.form-control.mr-sm-2(type='search', name="q", placeholder='tìm kiếm anime ^^', aria-label="Search") 
                    if user
                        a.navbar-brand(href='/users/' + user.id)
                            img.rounded-circle.nav-item.dropdown(src='/'+ user.avatar, alt="avatar", width="50px", height="50px")
                        a(href="/auth/logout") log-out
                    else 
                        a.navbar-brand(href='/users/')
                            img.rounded-circle.nav-item.dropdown(src="/assets/images/default.png", alt="avatar", width="50px", height="50px")
                    
                    if(countItem)
                        span= " (" + countItem + ")" + "View Click User"
                    else
                        span 0 (view User)
                    

        .container.pt-5
            block  header
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')    
