extends ./layouts/common.pug

block header
    .row.justify-content-start
        .item
            .overlay
                .play-button
                    i.far.fa-play-circle.fa-4x
                .info
                    .title
                        a(href='#') Tokyo Ghoul
                    .ep
                        a(href='#') 1/??
                .count
                    .view-count
                        .overlay-count
                            i.far.fa-eye.fa-sm
                            |  2302